/* Light Mode Color Scheme */
:root {
    --system-background: #fafafa ;
    --label: #1d1d1f ;
    --secondary-label: #86868b ;
    --link: #ff2d55 ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--system-background);
    color: var(--label);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    text-align: left;
}

header {
    background-color: var(--system-background);
}

header .wrapper {
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: x-large;
    color: var(--label);
    font-weight: bold;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 1.6em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: xx-large;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 8px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.site-description {
    font-size: medium;
    margin-top: 8px;
    color: var(--secondary-label);
}

.item-list > li {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
    }

.item-list h1 {
    margin-bottom: 16px;
    font-size: large;
}

.item-list h1 a {
    color: var(--label);
}

.item-list p {
    margin-bottom: 0;
}

.item-date {
    padding-bottom: 16px;
    color: var(--secondary-label);
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 38px;
}

.browse-all {
    display: block;
    margin-bottom: 28px;
}

footer {
    color: var(--secondary-label);
    font-size: small;
}

@media (prefers-color-scheme: dark) {
/* Dark Mode Color Scheme */
:root {
    --system-background: #000000 ;
    --label: #f5f5f7 ;
    --link: #ff375f ;
}